.ma-main {
    max-width: 50%;
    margin: 2rem 0;
  }

  .Line1{
    margin-top: 0;
  }

.articles-container{
    margin: 6rem 0;
}

.article-card{
    display: block;
    margin: 3rem 0;
}

.article-card h3{
  font-family: "Circular Std", "Montserrat", sans-serif;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1.27rem;
}

.date{
    margin: 0.2rem 0 0.6rem 0;
}

.date + p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;

}

.article-card + hr{
        border: none;
    border-top: 1px solid #ccc;

}

p + a{
    margin-top: -50rem;
}

.text-red{
            color: #d73634;
}


/* ============Related Articles End===============*/


/* media query */

@media (max-width: 768px) {
    .ma-main {
        max-width: 90%;
        margin: 1rem auto;
        padding: 1rem;
        margin-top: 2rem;
    }

    .articles-container {
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media (max-width: 480px) {
    .ma-main h2 {
        font-size: 1.5rem;
    }

    .article-card h2 {
        font-size: 1.2rem;
    }
}