.ma-main {
    max-width: 75%;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 2rem;
  }

  .ma-main h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
  }

  .articles-container {
    display: flex;
    gap: 2rem;
  }

  .article-card {
    flex: 1;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
  }


    .article-card img {
        width: 100%;
        height: auto;
    }

    .article-card h3 {
        font-size: 1.2rem;
        margin: 0.5rem 1rem;
    }
    .article-card p {
        font-size: 1rem;
        margin: 0.5rem 1rem 1rem 0rem;
    }
/* ============Related Articles End===============*/