<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--===== HEADER =====-->
    <div id="source-header">
        <header id="header">

            <!-- SIDE BAR -->
            <div class="main_box">
                <input type="checkbox" id="check" />

                <!-- label - the checkbox —-->
                <label for="check" class="btn_toggle">
                    <div class="background1">
                        <div class="menu__icon" aria-hidden="true">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </label>

                <!-- Sidebar -->
                <div class="sidebar">
                    <hr class="hr1">
                    <a href="../docs/index.html" class="menu-item">
                        <img src="../assets/home.png" alt="img" class="icon4">
                        <span class="label">home</span>
                    </a>
                    <hr>
                    <a href="../students/Students.html" class="menu-item">
                        <img src="../assets/Student Icon.png" alt="img" class="icon4">
                        <span class="label">students</span>
                    </a>
                    <hr>
                    <a href="#" class="menu-item">
                        <img src="../assets/Tech Icons.png" alt="img" class="icon4">
                        <span class="label">artificial intelligence</span>
                    </a>
                </div>
            </div>

            <!-- END OF SIDE BAR -->

            <!-- LOGO -->
            <a href="../docs/index.html" class="LOGO">bai.news</a>
            <!-- BELL ICON AND SUBSCRIBE BUTTON -->
                <button id="openPopupBtn" class="noselect"><span class="text">subscribe</span>

                    <span class="icon"> <svg viewBox="0 0 448 512" class="bell"><path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path></svg></span>
                </button>
        </header>
    </div>








    <!-- SUBSCRIBE POPUP -->
    <div id="source-popup">
        
        <div id="popupOverlay" class="overlay">
            <div class="popup pop-card">
                
                <div class="pop-header">
                    <span class="pop-logo">b<span class="text-red">ai</span>.news</span>
                    <div class="close-icon-wrapper" id="closePopupBtn">
                        <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </div>
                </div>
                
                <div id="view-options">
                    <div class="pop-body">
                        <button class="sm-btn" id="google-login-btn">
                            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="btn-icon">
                            Sign up with Google
                        </button>

                        <button class="sm-btn">
                            <img src="https://img.icons8.com/?size=256w&id=xgCVUXwsgAmA&format=png" alt="Google" class="btn-icon">
                            Sign up with X
                        </button>

                        <button class="sm-btn" id="btn-to-email">
                            <svg class="btn-icon email-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="16" rx="2" ry="2"></rect>
                                <path d="M16 2v4M8 2v4M3 10h18"></path>
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg>
                            Sign up with email
                        </button>
                    </div>

                    <div class="pop-footer">
                        Already have an account? <a href="#">Sign in</a>
                    </div>
                </div>

                <div id="view-email" class="hidden">
                    <h3 class="pop-label">Your email</h3>
                    
                    <form class="pop-form" id="form-email">
                        <input type="email" id="email-input" placeholder="custmr.team@gmail.com" class="pop-input" required>
                        <button type="submit" class="pop-btn-continue" id="btn-continue">continue</button>
                    </form>

                    <p class="pop-info checkbox-row">
                        <input type="checkbox" id="newsletter-check" class="pop-check">
                        
                        <label for="newsletter-check">
                            Join our mailing list to receive the latest scholarships news and updates from our team.
                        </label>
                    </p>

                    <div class="pop-back-wrap">
                        <span class="pop-back" id="btn-back">back</span>
                    </div>
                </div>

                <div id="view-otp" class="hidden">
                    <div id="otp-toast" class="otp-toast">OTP Sent!</div>

                    <h2 class="otp-heading">VE<span class="text-red">RI</span>FY EM<span class="text-red">AI</span>L AD<span class="text-red">DRE</span>SS</h2>
                    
                    <p class="otp-subtext">
                        OTP sent to <span id="display-email" class="email-highlight">user@example.com</span>
                    </p>
                    
                    <div class="otp-input-group">
                        <input type="text" inputmode="numeric" maxlength="1" class="otp-digit">
                        <input type="text" inputmode="numeric" maxlength="1" class="otp-digit">
                        <input type="text" inputmode="numeric" maxlength="1" class="otp-digit">
                        <input type="text" inputmode="numeric" maxlength="1" class="otp-digit">
                        <input type="text" inputmode="numeric" maxlength="1" class="otp-digit">
                        <input type="text" inputmode="numeric" maxlength="1" class="otp-digit">
                    </div>

                    <button class="pop-btn-continue black-btn" id="btn-verify-otp">Create</button>

                    <div class="resend-wrapper">
                        <span id="resend-text">resend</span>
                        <span id="resend-timer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>











    <div id="source-footer">
        <footer>

            <h2>bai.news</h2>

            <div class="footer-container">
                <!-- Left -->
                <div class="footer-left">

                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="../students/Students.html">Students</a></li>
                        <li><a href="#">Tech</a></li>
                        <li><a href="#">Investors</a></li>
                    </ul>
                </div>

                <hr class="vertical-line l1">

                <!-- Middle -->
                <div class="footer-middle">
                    <ul>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>

                <hr class="vertical-line l2">

                <!-- Right -->
                <div class="footer-right">
                    <h3>Newsletter</h3>
                    <form>
                        <input type="email" class="newsletter-input" placeholder="Email">
                        <br>
                        <button type="submit" class="subscribe-btn">Subscribe</button>
                    </form>
                </div>
            </div>

            <!-- Copyright -->
            <div class="footer-bottom">
                Copyright 2025 bai.news. All rights reserved.
                The bai.news is not responsible for the content of external sites.
                <a href="#">Read about our approach to external linking.</a>
            </div>
        </footer>
    </div>
</body>
</html>